AUTHENTICATOR_SERVICE_URL=http://localhost:5900
JOIN_BACKEND_URL=http://localhost:5807
GOVERNIFY_FRONTEND_URL=http://localhost:3001
AUTH_ACCESS_COOKIE_NAME=governify_next_access_token
AUTH_REFRESH_COOKIE_NAME=governify_next_refresh_token
ACCESS_TOKEN_MAX_AGE=900
REFRESH_TOKEN_MAX_AGE=604800
